body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #BFBFBF;
    margin-bottom: 20px;
}

.logo img {
    height: 40px;
}

nav {
    display: flex;
    gap: 30px;
}

nav span {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

nav span:hover {
    color: #8D2FF7;
}

.app-buttons img {
    margin-left: 20px;
    height: 40px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 50px;
}

.main-content {
    width: 50%;
    text-align: left;
}

h1 {
    font-size: 36px;
    color: #000000;
}

p {
    font-size: 18px;
    color: #353535;
}

button {
    background-color: #8D2FF7;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7A1BD9;
}

main img {
    width: 400px;
    height: auto;
}

footer {
    background-color: #353535;
    color: #DBDBDB;
    padding: 20px 50px;
    margin-top: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

footer .social-icons li {
    margin: 0 10px;
}

footer .social-icons a {
    color: #DBDBDB;
}

footer .social-icons a:hover {
    color: #8D2FF7;
}

.social-icons i {
    font-size: 24px;
}

footer .copyright {
    font-size: 14px;
    color: #ffffff;
    margin-right: 20px;
    white-space: nowrap;
    z-index: 10;
}

footer .copyright p {
    margin: 0;
}
footer .copyright-text {
    font-size: 14px;
    color: #a79f9f;
    margin-right: 20px;
    white-space: nowrap;
    z-index: 10;
}